* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: lightblue;
    padding: 15px;
}

body {
    max-width: 80%;
    /* height: 100vh; */
    border: dotted lightblue;
}